In [1]:
import csv
import codecs
import urllib.request
import pandas as pd
import datetime

In [2]:
def date_format(year,month,day):
    date = year+'-'+month+'-'+day+'T00%3A00%3A00'
    return date

In [13]:
#aziz.kastalli02@gmail.com 9RWG9ACQYHPT5S6L5M99XSCM8
#aziz.kastalli@esprit.tn 8UXGT5G59YEGQ6KKPHQQ99SRE

def build_request(start_DateTime, end_DateTime, location='Tunis', quertype = 'history',
                  key = '8UXGT5G59YEGQ6KKPHQQ99SRE', content_type = 'csv'):

    URL_Request = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/'+\
                  'weatherdata/'+quertype+\
                  '?aggregateHours=1'+\
                  '&combinationMethod=aggregate'+\
                  '&startDateTime='+start_DateTime+\
                  '&endDateTime='+end_DateTime+\
                  '&maxStations=-1'+\
                  '&maxDistance=-1'+\
                  '&contentType='+content_type+\
                  '&unitGroup=metric'+\
                  '&locationMode=single'+\
                  '&key='+key+\
                  '&dataElements=default'+\
                  '&locations='+location
    return URL_Request

In [14]:
def transform_request(CSVText,weather_data):
    col_names = True
    rows = 0
    for Row in CSVText:
        rows+=1
        if col_names :
            #skip names row
            col_names = False
        else:
            weather_data.append(Row)
    return weather_data,rows

In [15]:
columns  = ['Name','Date time','Maximum Temperature','Minimum Temperature','Temperature',
            'Wind Chill','Heat Index','Precipitation','Snow Depth','Wind Speed',
            'Wind Gust','Visibility','Cloud Cover','Relative Humidity','Weather Type',
            'Conditions']

weather = pd.DataFrame(columns=columns)

In [16]:
date_start = datetime.datetime(2021,1,14,0,0,0)
date_end = datetime.datetime(2021,1,18,0,0,0)
stop = datetime.datetime(2021,3,30,0,0,0)
weather_data = []
total_rows = 0

while date_end<stop:
    start_DateTime = date_start.isoformat().replace(':','%3A')
    end_DateTime   = date_end.isoformat().replace(':','%3A')
    print(start_DateTime, '  ', end_DateTime)
    #--------------request-----------------
    URL = build_request(start_DateTime,end_DateTime)
    CSVBytes = urllib.request.urlopen(URL)
    CSVText = csv.reader(codecs.iterdecode(CSVBytes, 'utf-8'))
    weather_data,rows = transform_request(CSVText,weather_data)
    total_rows += rows
    if total_rows-rows == 1:
        print('لقد نفذ رصيدكم')
        break
    print('total requests : ',total_rows)
    #--------------request-----------------    
    date_end   += datetime.timedelta(days=4)    
    date_start += datetime.timedelta(days=4)

2021-01-14T00%3A00%3A00    2021-01-18T00%3A00%3A00
total requests :  98
2021-01-18T00%3A00%3A00    2021-01-22T00%3A00%3A00
total requests :  196
2021-01-22T00%3A00%3A00    2021-01-26T00%3A00%3A00
total requests :  294
2021-01-26T00%3A00%3A00    2021-01-30T00%3A00%3A00
total requests :  392
2021-01-30T00%3A00%3A00    2021-02-03T00%3A00%3A00
total requests :  490
2021-02-03T00%3A00%3A00    2021-02-07T00%3A00%3A00
total requests :  550
2021-02-07T00%3A00%3A00    2021-02-11T00%3A00%3A00
total requests :  551
2021-02-11T00%3A00%3A00    2021-02-15T00%3A00%3A00
total requests :  552
2021-02-15T00%3A00%3A00    2021-02-19T00%3A00%3A00
total requests :  553
2021-02-19T00%3A00%3A00    2021-02-23T00%3A00%3A00
total requests :  554
2021-02-23T00%3A00%3A00    2021-02-27T00%3A00%3A00
total requests :  555
2021-02-27T00%3A00%3A00    2021-03-03T00%3A00%3A00
total requests :  556
2021-03-03T00%3A00%3A00    2021-03-07T00%3A00%3A00
total requests :  557
2021-03-07T00%3A00%3A00    2021-03-11T00%3A00%3A00
total requests :  558
2021-03-11T00%3A00%3A00    2021-03-15T00%3A00%3A00
total requests :  559
2021-03-15T00%3A00%3A00    2021-03-19T00%3A00%3A00
total requests :  560
2021-03-19T00%3A00%3A00    2021-03-23T00%3A00%3A00
total requests :  561
2021-03-23T00%3A00%3A00    2021-03-27T00%3A00%3A00
total requests :  562

In [17]:
weather = pd.DataFrame(weather_data , columns=columns)
weather.tail()

,Name,Date time,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow Depth,Wind Speed,Wind Gust,Visibility,Cloud Cover,Relative Humidity,Weather Type,Conditions
539,تونس,02/05/2021 06:00:00,13.9,13.9,13.9,,,0.0,0.0,14.6,,10.0,25.0,47.92,,Clear
540,تونس,02/05/2021 07:00:00,12.9,12.9,12.9,,,0.0,0.0,12.8,,10.0,25.0,51.07,,Clear
541,تونس,02/05/2021 08:00:00,11.9,11.9,11.9,,,0.0,0.0,14.6,,10.0,25.0,58.31,,Clear
542,تونس,02/05/2021 09:00:00,13.0,13.0,13.0,,,0.0,0.0,2.7,,10.0,25.0,78.57,,Clear
543,تونس,02/05/2021 10:00:00,16.9,16.9,16.9,,,0.0,0.0,14.6,,10.0,25.0,36.82,,Clear

In [18]:
weather.head()

,Name,Date time,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow Depth,Wind Speed,Wind Gust,Visibility,Cloud Cover,Relative Humidity,Weather Type,Conditions
0,تونس,01/14/2021 00:00:00,14.0,14.0,14.0,,,0.0,0.0,22.4,59.4,8.0,27.4,67.34,,Partially cloudy
1,تونس,01/14/2021 01:00:00,14.0,14.0,14.0,,,0.0,0.0,25.8,52.9,10.0,26.9,67.57,,Partially cloudy
2,تونس,01/14/2021 02:00:00,13.0,13.0,13.0,,,0.0,0.0,27.7,47.0,10.0,27.4,71.79,,Partially cloudy
3,تونس,01/14/2021 03:00:00,13.0,13.0,13.0,,,0.0,0.0,18.5,51.8,10.0,27.8,71.7,,Partially cloudy
4,تونس,01/14/2021 04:00:00,13.0,13.0,13.0,,,0.0,0.0,22.4,51.0,10.0,50.0,67.07,,Partially cloudy

In [21]:
weather.shape

(544, 16)

In [22]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 544 non-null    object
 1   Date time            544 non-null    object
 2   Maximum Temperature  544 non-null    object
 3   Minimum Temperature  544 non-null    object
 4   Temperature          544 non-null    object
 5   Wind Chill           544 non-null    object
 6   Heat Index           544 non-null    object
 7   Precipitation        544 non-null    object
 8   Snow Depth           544 non-null    object
 9   Wind Speed           544 non-null    object
 10  Wind Gust            544 non-null    object
 11  Visibility           544 non-null    object
 12  Cloud Cover          544 non-null    object
 13  Relative Humidity    544 non-null    object
 14  Weather Type         544 non-null    object
 15  Conditions           544 non-null    object
dtypes: object(16)
memory usage: 68.1+ KB

In [23]:
weather.to_csv('weather10.csv',index=False)

In [3]:
import pandas as pd

weather = pd.read_csv('weather0.csv')

for i in range(1,11):
    weather = pd.concat([weather, pd.read_csv('weather'+str(i)+'.csv')], axis=0)

In [5]:
weather.to_csv('weatherTunisByHour.csv', index = False)